div {
    max-width: 1600px;
}

#content {
    margin: 0 auto;
}
nav, a, #hero-msg h1, #hero-msg h4
.button-box
main {
    text-align:center;

}
#Background {
    height: 725px;
}
nav {
    background-color: orange;
}
header {
    background-color: lightblue;
}
body {
    background-color: grey;
}
a:hover,.book, .join
.book:hover, .join:hover
#background
.msg {
    background-color: lightblue;
    color: black;

}
footer {
    background-color: orange;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
nav a
.book, .join
footer a{
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}

