header {
    display: grid;
    grid-template-columns: 150px auto;
}
#rrrlogo  {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
img.logo {
    margin: 10px;
    width: auto;
    height: 100px;
    /* border-radius: 150px; */
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    padding: 35px;
    text-align: center;
    color: #BC8A5F;
    text-decoration: none;
}